.achievements-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.achievements-container h2{
  text-align: center;
}

.achievements-list {
  list-style-type: none;
  padding: 0;
}

.achievement-item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.achievement-header h3 {
  margin: 0;
  color: rgb(255, 223, 223);
}

.view-certificate-btn {
  background-color: var(--body-color);
  color: white;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.view-certificate-btn i {
  margin-right: 5px;
}

.certificate-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.certificate-iframe {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  border: none;
  object-fit: cover;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  z-index: 1000;
}
